first We have to create a data then we will work on it.
JSON is a String .

In [3]:
data = '{"employee_name":"james","email":"Singhalpuri@gmail.com","job_profile":[{"title1":"Team Leader","title2":"sr Devloper"}]}'
import pandas as pd 
from io import StringIO

In [5]:
# to Read the data.
pd.read_json(StringIO(data))

,employee_name,email,job_profile
0,james,Singhalpuri@gmail.com,"{'title1': 'Team Leader', 'title2': 'sr Devlop..."

In [7]:
# Use different types of oreints to show our data.
pd.read_json(StringIO(data),orient='index')

                                                               0
employee_name                                              james
email                                      Singhalpuri@gmail.com
job_profile    [{'title1': 'Team Leader', 'title2': 'sr Devlo...

Covert DataFrame in JSON String

In [9]:
from io import StringIO
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])
df   # to Check Data Frame is Working or not.

      col 1 col 2
row 1     a     b
row 2     c     d

In [11]:
df.to_json()

'{"col 1":{"row 1":"a","row 2":"c"},"col 2":{"row 1":"b","row 2":"d"}}'

Different Types of Orientation:

In [13]:
df.to_json(orient='columns')

'{"col 1":{"row 1":"a","row 2":"c"},"col 2":{"row 1":"b","row 2":"d"}}'

In [15]:
df.to_json(orient='index')

'{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'

In [17]:
df.to_json(orient='records')

'[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'

In [19]:
df.to_json(orient='split')

'{"columns":["col 1","col 2"],"index":["row 1","row 2"],"data":[["a","b"],["c","d"]]}'

like if we want a dtata frame from any URL then use:
df=pd.read_csv('Put The URL',header=None)
df.head()

Acha Jo Starting me job_profile ek me hi dikha rha tha agar usko seperatly print krna hai to :

In [118]:
data = [{"employee_name":"james","email":"Singhalpuri@gmail.com","job_profile":{"title1":"Team Leader","title2":"sr Devloper"}}]
pd.json_normalize(data)

  employee_name                  email job_profile.title1 job_profile.title2
0         james  Singhalpuri@gmail.com        Team Leader        sr Devloper